:host {
  .large-height {
    height: 460px;
  }
  .low-height {
    height: 390px;
  }

  .qualification-title-education, .qualification-title-work {
    cursor: pointer;
  }

  .qualification-road {
    position: relative;
    width: 210px;

    .qualification-road-education, .qualification-road-work  {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  p {
    font-size: 12px;
    line-height: 1;
  }
  .active {
    color: #3f51b5;
  }
  .not-active {
    color: rgba(0,0,0,.54);
  }
}
