<div class="container col">
    <h2 class="center-txt">Qualification</h2>
    <h3 class="center-txt pb">My personal journey</h3>
    <div class="qualification col" [ngStyle]="{'align-items' : 'center'}">
        <div class="qualification-title row" [ngStyle]="{'gap': '50px'}">
            <div class="qualification-title-education row" (click)="isWorkOpen = false">
                <mat-icon>book</mat-icon>
                <h4 #educationTitle>Education</h4>
            </div>
            <div class="qualification-title-work row" (click)="isWorkOpen = true">
                <mat-icon>work</mat-icon>
                <h4 #workTitle>Work</h4>
            </div>
        </div>
        <div class="qualification-road">
          
            <div class="qualification-road-education" *ngIf="!isWorkOpen"> 
              <mat-vertical-stepper #stepper class="stepper" [disableRipple]="true">
                <ng-template matStepperIcon="edit" [disableRipple]="true">
                    <mat-icon>done</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="number" let-index="index">
                    {{index+1}}
                </ng-template>
                <mat-step label="High school in Leżajsk">
                    <h5>High school in Leżajsk</h5>
                    <p>08/2011–06/2014</p>
                </mat-step>
                <mat-step label="University of Rzeszow">
                    <h5>Environmental engineer</h5>
                    <p>10/2014–02/2018</p>
                </mat-step>
              </mat-vertical-stepper>   
            </div>

            <div class="qualification-road-work" *ngIf="isWorkOpen"> 
                <mat-vertical-stepper #stepper>
                  <ng-template matStepperIcon="edit">
                      <mat-icon>done</mat-icon>
                  </ng-template>
                  <ng-template matStepperIcon="number" let-index="index">
                      {{index+1}}
                  </ng-template>
  
                  <mat-step label="Testin Interactive Agency">
                    <h5>Webmaster</h5>
                    <p>08/2021–08/2022</p>
                  </mat-step>
                  <mat-step label="PerfectClue">
                    <h5>Angular developer</h5>
                    <p>08/2022–31.03.2023</p>
                  </mat-step>
                  <mat-step label="Medvocation">
                    <h5>Angular developer</h5>
                    <p>31.03.2023–Currently</p>
                  </mat-step>
                </mat-vertical-stepper>   
            </div>

        </div>
    </div>
</div>