<div class="container-dialog" *ngIf="!isMap">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title>{{ this.title }}</h1>
    <div mat-dialog-content>
        <ul>
            <ng-container *ngFor="let item of list">
                <li [ngStyle]="{'padding-bottom' : '15px'}"><i class="fas fa-check-circle"></i> {{ item }}</li>
            </ng-container>
        </ul>
    </div>
</div>

<div class="container-dialog" *ngIf="isMap">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title>{{ this.title }}</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82044.24368805016!2d21.894036085948755!3d50.01355534023363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473cfae3cc14d449%3A0xd2240d31b33eb2ed!2zUnplc3rDs3c!5e0!3m2!1spl!2spl!4v1690024998948!5m2!1spl!2spl"
        width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>