:host {
    .row {
        gap: 20px;
    }
    .validBtn {
        background-color: #3f51b5;
        color: #fff;
    }
    .invalidBtn {
        background-color: lightgray;
    }

    button {
        cursor: pointer;
    }
}
.error {
    color: red;
}