<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row">
        <app-error [control]="form.get('name')">
            <app-input
            id="name"
            [type]="'text'"
            [control]="form.get('name')"
            [label]="'Name'"
            ></app-input>
        </app-error>
    
        <app-error [control]="form.get('email')">
            <app-input
            id="email"
            [type]="'text'"
            [control]="form.get('email')"
            [label]="'Email'"
            ></app-input>
        </app-error>
    </div>

    <app-error [control]="form.get('phone')">
        <app-input
        id="phone"
        [type]="'number'"
        [control]="form.get('phone')"
        [label]="'Phone'"
        ></app-input>
    </app-error>

    <app-error [control]="form.get('description')">
        <app-input
        id="description"
        [type]="'textarea'"
        [control]="form.get('description')"
        [label]="'Description'"
        ></app-input>
    </app-error>

    <div [ngStyle]="{'display' : 'flex', 'flex-direction' : 'column', 'gap' : '20px'}">
        <mat-checkbox color="primary" formControlName="accept" [ngClass]="{'error': accept?.invalid && (accept?.dirty || accept?.touched)}">Accept</mat-checkbox>
        <button type="submit" [ngClass]="isFormValid ? 'validBtn' : 'invalidBtn'">Send</button>
    </div>


</form>

