body.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
}
  
body.light-mode, body.light-mode .nav-menu-mobile, body.light-mode .mat-menu-panel {
    background-color: #dfe6e9;
    color: #2d3436;
}

body:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
}

body.dark-mode h5, body.dark-mode h4, body.dark-mode p, body.dark-mode a {
    color: #dfe6e9;
}

body.dark-mode mat-step-header, body.dark-mode .mat-step, body.dark-mode .mat-step-text-label, body.dark-mode .nav-menu-mobile,
body.dark-mode .mat-menu-panel  {
    background-color: #2d3436;
    color: #dfe6e9;
}

body.dark-mode .mat-menu-panel span, .mat-menu-panel i  {
    color: #2d3436;
}

body.dark-mode mat-label, body.dark-mode .not-active, body.dark-mode .mat-menu-panel i, body.dark-mode .mat-menu-panel span {
    color: #dfe6e9!important; 
}

body.dark-mode .service-box {
    border: 2px solid #dfe6e9!important;
}

body.dark-mode .mat-checkbox-inner-container, body.dark-mode .mat-stepper-vertical-line::before {
    background-color: #dfe6e9;
}

body.dark-mode .mat-step-header .mat-step-icon {
    background-color: darkgray;
}

body.dark-mode .mat-step-icon-selected, body.dark-mode .mat-step-icon-state-edit {
    background-color: #3f51b5!important;
}

body.dark-mode .copy-rights {
    color: #3f51b5;
}

body.dark-mode .cdk-overlay-dark-backdrop {
    background: rgba(0,0,0,.8)!important;
}