.container {
    padding: 50px 100px;
    max-width: 1600px;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.icon {
    font-size: 2rem;
}

.center {
    justify-content: center;
    align-items: center;
}
.center-txt {
    text-align: center;
}

.pb {
    padding-bottom: 50px;
}
.center-item {
    align-items: center;
}
.main-color {
    color: #3f51b5;
}
.secondary-color {
    color: #fff;
}