<div class="container row">
    <div class="social-sidebar col social-space">
        <div class="social-sidebar-item">
            <a href="https://pl.linkedin.com/in/jakub-p%C4%99cak-63a1a6232" target="_blank"><i class="fab fa-linkedin-in icon"></i></a>
        </div>
        <div class="social-sidebar-item">
            <a href="https://www.facebook.com/kuba.pecak" target="_blank"><i class="fab fa-facebook icon"></i></a>
        </div>
        <div class="social-sidebar-item">
            <a href="https://github.com/Jakubpecak" target="_blank"><i class="fab fa-github icon"></i></a>
        </div>
    </div>
    <div class="description col">
        <h1>Hi, I'm <span class="main-color">Kuba</span></h1>
        <h2>Frontend developer</h2>
        <p>
            {{ 'description' | translate }}
        </p>
        <button mat-raised-button color="primary"><a href="#contact" class="secondary-color">Contact me <i class="far fa-hand-point-right"></i></a></button>
    </div>
    <div class="my-picture col">
        <ng-container *ngFor="let image of images; let i = index">
            <img [src]="image" alt="my picture" (click)="openLightbox(i)"/>
        </ng-container>
    </div>
</div>