@import '/src/styles/mixins.scss';

:host {
    .row {
        justify-content: space-around;
        gap: 50px;
        @include custom(1500px) {
            justify-content: space-between;
        }
        @include mobile {
            flex-wrap: wrap;
            gap: 20px;
            padding-top: 0;
        }
        
        .social-sidebar {
            justify-content: center;
            gap: 30px;

            i {
                font-size: 2.5rem;
            }
            
            &-item:hover a {
                color: #3f51b5;
            }
            @include mobile {
                order: -2;
            }
        }
    }
    img {
        border-radius: 50%;
        width: 100%;
        max-height: 350px;
        @include custom(950px) {
            max-height: 300px;
        }
        @include mobile {
            max-height: 250px;
        }

        &:hover {
            filter: brightness(1.1);
            transition: all 0.3s;
        }
    }
    .description {
        max-width: 500px;
        justify-content: center;
        gap: 20px;
        @include custom(950px) {
            width: 50%;
        }
        @include mobile {
            flex-basis: 100%;
            gap: 10px;
        }

        .main-color {
            font-size: 3.6rem;
        }
    }
    button:hover i  {
        transform: rotate(90deg);
        transition: all 0.5s;
    }
    .my-picture {
        &:hover {
            cursor: pointer;
        }
        @include mobile {
            order: -1;
        }
        img {
            @include mobile {
                width: 250px;
            }
        }
    }
}

.fa-hand-point-right {
    margin-left: 5px;
}