<div class="container col">
    <h2 class="center-txt">About me</h2>
    <h3 class="center-txt pb">My introduction</h3>
    <div class="about row">
        <div class="about-picture">
            <img src="/assets/imgs/kuba.jpg" alt="my second picture">
        </div>
        <div class="about-content col center-txt">
            <p>Frontend Developer with an experience in the marketing and advertising 
                industry who wants to improve all the time. Skilled in WordPress, 
                Cascading Style Sheets (CSS), HTML, JavaScript. Also learning new technologies 
                like TypeScript and framework Angular.
            </p>
            <div class="about-content-details row">
                <div class="about-content-details-item">
                    <app-animated-counter
                    [startValue]="0"
                    [endValue]="8"
                    [duration]="2000"
                    [isStyled]="true"
                    >
                    </app-animated-counter>
                    <p class="center-txt">Years<br>experience</p>
                </div>
                <div class="about-content-details-item">
                    <app-animated-counter
                    [startValue]="0"
                    [endValue]="20"
                    [duration]="2000"
                    [isStyled]="true"
                    >
                    </app-animated-counter>
                    <p class="center-txt">Completed<br>projects</p>
                </div>
                <div class="about-content-details-item">
                    <app-animated-counter
                    [startValue]="0"
                    [endValue]="5"
                    [duration]="2000"
                    [isStyled]="true"
                    >
                    </app-animated-counter>
                    <p class="center-txt">Companies<br>worked</p>
                </div>
            </div>
            <div class="about-content-cv center-txt">
                <a [href]="'assets/Jakub-Pęcak.pdf'" download="Jakub-Pęcak.pdf">
                    <button mat-raised-button color="primary">Download CV <i class="fas fa-download"></i></button>
                </a>
            </div>
        </div>
    </div>
</div>