<div class="container col" id="about">
    <h2 class="center-txt">{{ 'about.title' | translate }}</h2>
    <h3 class="center-txt pb">{{ 'about.subtitle' | translate }}</h3>
    <div class="about row">
        <div class="about-picture">
            <img src="/assets/imgs/code.jpg" alt="my second picture">
        </div>
        <div class="about-content col center-txt">
            <p>
                {{ 'about.description' | translate }}
            </p>
            <div class="about-content-details row">
                <div class="about-content-details-item">
                    <app-animated-counter
                    [startValue]="0"
                    [endValue]="2"
                    [duration]="2000"
                    [isStyled]="true"
                    >
                    </app-animated-counter>
                    <p class="center-txt" [innerHTML]="'about.years' | translate"></p>
                </div>
                <div class="about-content-details-item">
                    <app-animated-counter
                    [startValue]="0"
                    [endValue]="10"
                    [duration]="2000"
                    [isStyled]="true"
                    >
                    </app-animated-counter>
                    <p class="center-txt" [innerHTML]="'about.projects' | translate"></p>
                </div>
                <div class="about-content-details-item">
                    <app-animated-counter
                    [startValue]="0"
                    [endValue]="3"
                    [duration]="2000"
                    [isStyled]="true"
                    >
                    </app-animated-counter>
                    <p class="center-txt" [innerHTML]="'about.companies' | translate"></p>
                </div>
            </div>
            <div class="about-content-cv center-txt">
                <a [href]="'assets/Jakub-Pęcak.pdf'" download="Jakub-Pęcak.pdf">
                    <button mat-raised-button color="primary">{{ 'about.download' | translate }} <i class="fas fa-download"></i></button>
                </a>
            </div>
        </div>
    </div>
</div>