:host {
    .container {
        .about {
            gap: 50px;
            justify-content: center;
            &-picture {
                flex-basis: 50%;
                img {
                    width: 80%;
                    margin: 0 auto;
                    border-radius: 10px;
                }
            }
            &-content {
                flex-basis: 50%;
                align-items: center;
                justify-content: center;
                p {
                    max-width: 600px;
                }
                &-details {
                    padding: 50px 0;
                    justify-content: center;
                    gap: 20px;
                    &-item h5 {
                        font-size: 25px;
                        font-weight: 500;
                        padding-bottom: 10px;
                    }
                }
                &-cv {
                    button:hover i  {
                        margin: 2px 0 -2px 0;
                        transition: all 0.1s;
                    }
                }
            }
        }
    }
}