@import '/src/styles/mixins.scss';

:host {
    .nav-container {
        padding: 50px 100px;
        transition: all 0.5s ease-in-out;
        @include tablet {
            padding: 50px;
        } 
    }
    .nav {
        display: flex;
        justify-content: space-between;
        &-logo {
            font-size: 3rem;
            font-weight: 500;
            cursor: pointer;
        }
        &-menu {
            display: flex;
            gap: 20px;
            &-item {
                font-size: 1.8rem;
                font-weight: 500;
            }
            &-item:hover {
                color: #3f51b5;
            }
        }
    }
}