@import '/src/styles/mixins.scss';

:host {
    .nav-container {
        padding: 50px 100px;
        transition: all 0.5s ease-in-out;
        @include tablet {
            padding: 50px;
        }
        @include mobile {
            padding: 25px 20px;
        } 
    }
    .nav {
        display: flex;
        justify-content: space-between;
        &-logo {
            font-size: 3rem;
            font-weight: 500;
            cursor: pointer;
        }
        &-menu {
            display: flex;
            gap: 20px;
            &-item {
                font-size: 1.8rem;
                font-weight: 500;
            }
            &-item:hover {
                color: #3f51b5;
            }

            &-mobile {
                display: flex;
                justify-content: space-between;
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: 200;
                padding: 25px 20px;
                width: -webkit-fill-available;
                box-shadow: 0px 0px 24px 0px rgb(63, 81, 181);
                &-item {
                    font-size: 20px;
                    margin-bottom: 0!important;
                    &:first-child {
                        font-size: 25px;
                    }
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}