<div class="wrapper">
    <div class="left">
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let website of websiteList">
                <ng-template class="slide" carouselSlide [id]="website.id">
                <img [src]="website.url" [alt]="website.id" [title]="website.id">
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
    <div class="right">
        <div class="portfolio-content-box col">
            <h3>{{ 'portfolio.second-title' | translate }}</h3>
            <p>
                {{ 'portfolio.description' | translate }}
            </p>
            <button
            (mouseenter)="showLockIcon = true" (mouseleave)="showLockIcon = false"
            matTooltip="{{'portfolio.tooltip' | translate}}"
            class="tooltip"
            >{{ 'portfolio.check' | translate }} <i class="fas fa-lock" *ngIf="showLockIcon" [@fadeInOut]></i>
            </button>
        </div>
    </div>
</div>