<div class="wrapper">
    <div class="left">
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let website of websiteList">
                <ng-template class="slide" carouselSlide [id]="website.id">
                <img [src]="website.url" [alt]="website.id" [title]="website.id">
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
    <div class="right">
        <div class="portfolio-content-box col">
            <h3>Modern Website</h3>
            <p>Website adaptable to all devices with ui components and animated interactions.</p>
            <button
            matTooltip="To be continued"
            class="tooltip"
            >Check <i class="fas fa-lock"></i>
            </button>
        </div>
    </div>
</div>