@import '/src/styles/mixins.scss';

:host {
    .f-container {
        padding: 50px 100px;
        padding-bottom: 10px!important;
        @include tablet {
            padding: 50px;
        }
        @include mobile {
            padding: 25px 20px;
            padding-bottom: 25px!important;
        }
    }
    .footer {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        @include mobile {
           flex-direction: column;
           gap: 30px;
        }

        &-logo {
            cursor: pointer;
        }

        &-menu {
            gap: 20px;
            @include mobile {
                flex-direction: column;
                gap: 10px;
            }
            &-item {
                font-size: 18px;
                &:hover {
                    color: #3f51b5;
                }
            }
        }

        &-socials {
            gap: 20px;
            width: 240px;
            @include tablet {
                justify-content: center;
            }
            @include mobile {
                justify-content: flex-start;
                padding-bottom: 20px;
            }
            &-item {
                font-size: 18px;
            }
            &-sidebar {
                &-item:hover a {
                    color: #3f51b5;
                }
            }
        }
    }

    .copy-rights {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        font-size: 1.2rem;
        @include mobile {
            padding-top: 50px;
        }
    }
}